@model HospitalManagementSysSprint_CoreMvc.Models.InBillVM

@{
    ViewData["Title"] = "Create";
}



<h4> Create InPatientBill</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <div class="form-group">
                <label asp-for="BillId" class="control-label"></label>
                <input asp-for="BillId" class="form-control" />
                <span asp-validation-for="BillId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="InPatientId" class="control-label"></label>
                <input asp-for="InPatientId" class="form-control" />
                <span asp-validation-for="InPatientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorFees" class="control-label"></label>
                <input asp-for="DoctorFees" class="form-control" />
                <span asp-validation-for="DoctorFees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperationCharges" class="control-label"></label>
                <input asp-for="OperationCharges" class="form-control" />
                <span asp-validation-for="OperationCharges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MedicineCharges" class="control-label"></label>
                <input asp-for="MedicineCharges" class="form-control" />
                <span asp-validation-for="MedicineCharges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomCharges" class="control-label"></label>
                <input asp-for="RoomCharges" class="form-control" />
                <span asp-validation-for="RoomCharges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabCharges" class="control-label"></label>
                <input asp-for="LabCharges" class="form-control" />
                <span asp-validation-for="LabCharges" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

