@model HospitalManagementSysSprint_CoreMvc.Models.LabTestVM

@{
    ViewData["Title"] = "Edit";
}



<h4>Edit LabTest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LabTestId" class="control-label"></label>
                <input asp-for="LabTestId" class="form-control" />
                <span asp-validation-for="LabTestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LabTestName" class="control-label"></label>
                <input asp-for="LabTestName" class="form-control" />
                <span asp-validation-for="LabTestName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

